*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
 
    align-items: center;
}
.container{
    color: rgb(15, 14, 14);
    background-color: white;
    width: 400px;
    padding: 35px  25px;
    border-radius: 10px;
}
.container P{
    font-size: 15px;
    font-weight: 600px;
margin: 10px;

}
.container input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 2px solid #494eea;
    padding: 0px 10px;
    margin-bottom: 30px;
}
#btn{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #494eea;
    color: white;
    font-weight: 600;
    font-size: 15px;

    
}
#imgbox{
    width: 300px;
    min-height: 0;
    border-radius: 5px;
    overflow: hidden;

    
}
#qrimg{
    width: 100%;
    padding: 10px;

} 
.show-image{
    min-width: 300px;
    border: 1px solid #d1d1d1;
    margin: 100px auto;

}

























    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    




     


